@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
body {
  font-family: "League Spartan";
  background-color: #3a4663;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  background: #242d44;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 13px;
  width: 71px;
  height: 26px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #d03f2f;
  cursor: pointer;
  border-radius: 50%;
}

header {
  display: flex;
  padding: 30px 24px 32px 24px;
  align-items: center;
}
.flex {
  display: flex;
  align-items: center;
}
.colors {
  margin-left: 130px;
  gap: 30px;
}
h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  color: #ffffff;
}
.theme {
  font-size: 12px;
  line-height: 11px;
  font-weight: 700;
  color: #ffffff;
}
.total {
  width: 327px;
  height: 88px;
  background-color: #181f33;
  justify-content: flex-end;
  color: #fff;
  text-align: right;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.667px;
  border-radius: 10px;
}
main {
  padding: 0 24px 31px 24px;
}
.calc-numbers {
  align-items: center;
  margin-top: 24px;
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  padding: 24px;
  column-gap: 13px;
  row-gap: 13px;
}
button {
  width: 60px;
  height: 64px;
  background-color: #eae3dc;
  border: none;
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  color: #434a59;
  border-radius: 5px;
  box-shadow: 0px -4px 0px 0px #b3a497 inset;
}
.container {
  width: 327px;
  background-color: #242d44;
  border-radius: 10px;
  height: 420px;
}
.del {
  font-size: 20px;
  line-height: 18px;
  border-radius: 5px;
  background: #647198;
  box-shadow: 0px -4px 0px 0px #414e73 inset;
  color: #fff;
}
.two-button {
  gap: 7px;
  display: grid;
}
.reset {
  width: 133px;
  height: 64px;
  border-radius: 5px;
  background: #647198;
  box-shadow: 0px -4px 0px 0px #414e73 inset;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.333px;
}
.red {
  width: 133px;
  height: 64px;
  border-radius: 5px;
  background: #d03f2f;
  box-shadow: 0px -4px 0px 0px #93261a inset;
  grid-column: 3/5;
  color: #fff;
}
/* theme2   */
.theme2 .button {
  background-color: #e5e4e1;
}
.theme2 .total {
  background-color: #eeeeee;
  color: #36362c;
}
.theme2 .calc-numbers {
  background-color: #d2cdcd;
}
.theme2 h1 {
  color: #36362c;
}
.theme2 .theme {
  color: #36362c;
}
.theme2 .reset {
  background-color: #378187;
}
.theme2 .two-button {
  background-color: #d2cdcd;
}
.theme2 .slider {
  background-color: #d2cdcd;
}
.theme2 .del {
  background: #378187;
}
/* 
 theme3 */
.theme3 .button {
  background-color: #331c4d;
  color: #ffe53d;
}
.theme3 .total {
  background-color: #1e0936;
  color: #ffe53d;
}
.theme3 .calc-numbers {
  background-color: #1e0936;
}
.theme3 h1 {
  color: #ffe53d;
}
.theme3 .theme {
  color: #ffe53d;
}
.theme3 .reset {
  background-color: #56077c;
  box-shadow: 0px -4px 0px 0px #be15f4 inset;
}
.theme3 .red {
  background-color: #00ded0;
  box-shadow: 0px -4px 0px 0px #6cf9f1 inset;
}
.theme3 .del {
  color: #fff;
  background: #56077c;
}
.theme3 {
  background-color: #17062a;
}
.theme2 {
  background-color: #e6e6e6;
}
.theme3 .slider {
  background-color: #1e0936;
}
.theme3 .slider::-webkit-slider-thumb {
  background: #00ded0;
}
@media screen and (min-width: 1440px) {
  header {
    padding: 30px 24px 32px 24px;
  }
  body {
    height: 100vh;
  }
  .container {
    width: 540px;
    height: 480px;
  }
  .calc-numbers {
    grid-template-columns: 101px 101px 101px 101px;
    row-gap: 25px;
    column-gap: 24px;
    padding: 32px 32px 32px 32px;
  }
  .button {
    width: 101px;
    height: 64px;
    font-size: 40px;
    border-radius: 10px;
  }
  .del {
    width: 101px;
    height: 64px;
    border-radius: 10px;
    font-size: 28px;
  }
  .total {
    width: 540px;
    height: 128px;
  }
  .reset {
    width: 227px;
    height: 64px;
    font-size: 28px;
    border-radius: 10px;
  }
  .red {
    width: 227px;
    font-size: 28px;
    border-radius: 10px;
    height: 64px;
  }
  .two-button {
    gap: 11px;
  }
  .colors {
    margin-left: 342px;
  }
  .total {
    font-size: 56px;
  }
}
